{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="container">
      <h1 class="display-5">Studentai ir komandos</h1>
      <div class="form-text">
        Vardas: <input type="text" id="name"/>
        <span id="validation-result" data-path="{{ path('validatePerson', {'element': 'name'}) }}"></span>
      </div>
      <div class="form-text">
       Komanda: <input type="text" id="project"/>
       <span id="validation-result2" data-path="{{ path('validateProject', {'element': 'project'}) }}"></span>
      </div>
    </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}