{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
  <div class="col-12"> <a class="btn btn-info" href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
  </div>
    <div class="m4 jumbotron">
        <div class="lead">
            Hello, {{ app.user.username }}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <button class="btn btn-primary">Edit</button>
            {% endif %}
            {% if 'ROLE_MENTORIUS' in app.user.roles %}
                <button class="btn btn-info">Comment</button>
            {% endif %}
        </div>
        {% if app.user.website %}
            <div class="p2">
                <a href="{{ app.user.website }}">{{ app.user.website }}</a>
                <span class="badge badge-secondary">WebSite</span>
            </div>
        {% endif %}
        {% if app.user.linkedin %}
            <div class="p2">
                <a href="{{ app.user.linkedin }}">{{ app.user.linkedin }}</a>
                <span class="badge badge-secondary">Linkedin</span>
            </div>
        {% endif %}
    </div>


    <div class="jumbotron">
        <a class="btn btn-info btn-lg" href="{{ path('home') }}">My home</a>
    </div>
{% endblock %}